<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clubfactory.center.seller.core.mapper.seller.SellerInfoMapper">

    <resultMap id="baseResult" type="com.clubfactory.center.seller.core.dataobject.seller.SellerInfoDO">
        <result property="id" column="id"/>
        <result property="sellerId" column="seller_id"/>
        <result property="bankName" column="bank_name"/>
        <result property="bankAccount" column="bank_account"/>
        <result property="accountHolder" column="account_holder"/>
        <result property="ifscCode" column="ifsc_code"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="column_List">
        id,
        seller_id,
        bank_name,
        bank_account,
        account_holder,
        ifsc_code,
        create_time,
        update_time
    </sql>

    <insert id="insert" parameterType="com.clubfactory.center.seller.core.dataobject.seller.SellerInfoDO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO seller_info (
        <include refid="column_List"/>
        ) VALUES (
        null,
        #{sellerId},
        #{bankName},
        #{bankAccount},
        #{accountHolder},
        #{ifscCode},
        now(),
        now()
        )
    </insert>

    <insert id="batchInsert" parameterType="list" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO seller_info (
        <include refid="column_List"/>
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            null,
            #{item.sellerId},
            #{item.bankName},
            #{item.bankAccount},
            #{item.accountHolder},
            #{item.ifscCode},
            now(),
            now()
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.clubfactory.center.seller.core.dataobject.seller.SellerInfoDO">
        UPDATE seller_info
        <set>
            <if test="sellerId != null">
                seller_id = #{sellerId},
            </if>
            <if test="bankName != null and bankName != '' ">
                bank_name = #{bankName},
            </if>
            <if test="bankAccount != null and bankAccount != '' ">
                bank_account = #{bankAccount},
            </if>
            <if test="accountHolder != null and accountHolder != '' ">
                account_holder = #{accountHolder},
            </if>
            <if test="ifscCode != null and ifscCode != '' ">
                ifsc_code = #{ifscCode},
            </if>
            update_time = now()
        </set>
        WHERE id = #{id}
    </update>

    <update id="batchUpdateById" parameterType="list">
        <foreach collection="list" item="item" open="" close="" separator=";">
            UPDATE seller_info
            <set>
                <if test="sellerId != null">
                    seller_id = #{sellerId},
                </if>
                <if test="bankName != null and bankName != '' ">
                    bank_name = #{bankName},
                </if>
                <if test="bankAccount != null and bankAccount != '' ">
                    bank_account = #{bankAccount},
                </if>
                <if test="accountHolder != null and accountHolder != '' ">
                    account_holder = #{accountHolder},
                </if>
                <if test="ifscCode != null and ifscCode != '' ">
                    ifsc_code = #{ifscCode},
                </if>
                update_time = now()
            </set>
            WHERE id = #{item.id}
        </foreach>
    </update>

    <update id="deleteById" parameterType="java.lang.Long">
        DELETE FROM seller_info
        WHERE id = #{id}
    </update>

    <update id="deleteByIds" parameterType="java.util.List">
        DELETE FROM seller_info
        WHERE id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="findById" resultMap="baseResult" parameterType="java.lang.Long">
        SELECT
        <include refid="column_List"/>
        FROM seller_info
        WHERE id = #{id}
    </select>

    <sql id="query_condition">
        <where>
            <if test="id != null">
                AND seller_info.id = #{id}
            </if>
            <if test="sellerId != null">
                AND seller_info.seller_id = #{sellerId}
            </if>
            <if test="bankName != null and bankName != '' ">
                AND seller_info.bank_name = #{bankName}
            </if>
            <if test="bankAccount != null and bankAccount != '' ">
                AND seller_info.bank_account = #{bankAccount}
            </if>
            <if test="accountHolder != null and accountHolder != '' ">
                AND seller_info.account_holder = #{accountHolder}
            </if>
            <if test="ifscCode != null and ifscCode != '' ">
                AND seller_info.ifsc_code = #{ifscCode}
            </if>
            <if test="createTime != null ">
                AND seller_info.create_time = #{createTime}
            </if>
            <if test="updateTime != null ">
                AND seller_info.update_time = #{updateTime}
            </if>
        </where>
    </sql>

    <select id="countByQuery" parameterType="com.clubfactory.center.seller.core.query.seller.SellerInfoQuery"
            resultType="java.lang.Integer">
        SELECT COUNT(*) FROM seller_info
        <include refid="query_condition"/>
    </select>

    <select id="pageQuery" resultMap="baseResult"
            parameterType="com.clubfactory.center.seller.core.query.seller.SellerInfoQuery">
        SELECT
        <include refid="column_List"/>
        FROM seller_info
        <include refid="query_condition"/>
        ORDER BY id DESC
        LIMIT #{startPos},#{pageSize}
    </select>

    <select id="fullQuery" resultMap="baseResult"
            parameterType="com.clubfactory.center.seller.core.query.seller.SellerInfoQuery">
        SELECT
        <include refid="column_List"/>
        FROM seller_info
        <include refid="query_condition"/>
    </select>

</mapper>

